.container {
  padding: 20px;
  background-color: black;
  .head {
    display: flex;
    title {
      color: white;
      font-weight: 300;
    }
  }
  .body {
    display: grid;
    gap: 10px;
    margin-top: 10px;
  }
}
