.container {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  .head {
    display: flex;
    .title {
      color: white;
      font-weight: 700;
      font-size: 30px;
      margin-left: 40px;
      margin-top: 10px;
    }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    background-color: lime;
  }
}
